# Files
portfolioWebsite.code-workspace
audioToDo.md
todo.md
animationTest.html
techImage_02_ORIGINAL.mp4
styles/styles.css.map

# Images
images/dashboard-smaller.png
images/dashboard.png
images/diverse-people-group.jpg
images/ecomm-ui.png
images/main-banner.jpeg
images/nestjs_logo-627058276.png
images/pexels-fauxels-3184639.jpg
images/security.jpeg
images/social-media-7278965_1280.png
images/togetherness-5452909_1280.jpg
images/techImage_02_ORIGINAL.mp4

# Directories
audio/
