// Common variables
$border-radius-lo: var(--borderRadiusLo);
$border-radius-hi: var(--borderRadiusHi);
$box-shadow-1: var(--box-shadow-1);
$inner-border: var(--innerBorder);
$opacity-lo: var(--opacityLo);
$color-tertiary-1: var(--color-tertiary-1);
$color-tertiary-2: var(--color-tertiary-2);
$color-tertiary-4: var(--color-tertiary-4);
$color-tertiary-5: var(--color-tertiary-5);

.main-title {
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;

    // Might use in the future for header color accenting.
    // span {
    //   color: var(--color-secondary);
    // }

    .bg-text {
      display: none;
    }
  }
}