// Elements: body, section, etc.
html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(circle at center,
      var(--color-tertiary-3) 0%,
      var(--color-primary) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-white);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  animation: gradientShift 25s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

@keyframes gradientShift {
  0% {
    background-size: 100% 100%;
    background-position: center center;
  }

  25% {
    background-size: 250% 250%;
    background-position: left center;
  }

  50% {
    background-size: 400% 400%;
    background-position: center center;
  }

  75% {
    background-size: 250% 250%;
    background-position: right center;
  }

  100% {
    background-size: 100% 100%;
    background-position: center center;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 80px 60px 20px;
  width: 80%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
}