// Classes for .home-* 

.home-container {
  @include flex-center;
  @include section-container;

  height: 840px;
  background-image: url('../images/techImage_02.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home-overlay {
    @include overlay-styles;
    margin: 0 auto;
    padding: 2rem 3rem;
    line-height: 3rem;
    color: lightgray;
    width: 75%;
    height: 50vh;

    h1,
    h2,
    h4 {
      font-family: 'Manrope', sans-serif;
      font-weight: 900;
      line-height: 1.4;
    }

    h1 {
      font-size: 5rem;
      padding-bottom: 1.8rem;
      letter-spacing: 0.02em;
    }

    h2 {
      font-size: 2.5rem;
      padding-bottom: 3rem;
      letter-spacing: 0.01em;
      opacity: 0.95;
    }

    h4 {
      font-size: 1.3rem;
      line-height: 2.2rem;
      letter-spacing: 0.01em;
      opacity: 0.9;
    }
  }
}