@media screen and (max-width: 1750px) {
  .sec5 .main-title .bg-text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1565px) {
  .home-container {
    padding: 2rem;
    line-height: 2rem;

    height: 80vh;

    .home-overlay {
      h1 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }

      h2 {
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }

      h4 {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .sec5 .main-title .bg-text {
    font-size: 4rem;
  }
}

.portfolio-container {
  overflow-y: scroll;
  max-height: 75vh;
}

.other-info-container,
.skill-summary-container {
  .bg-text {
    width: 100%;
  }
}

@media screen and (max-width: 1375px) {
  .home-container {
    padding: 2rem;
    line-height: 2rem;
    height: 75vh;

    .home-overlay {
      h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
      }

      h2 {
        font-size: 1rem;
        padding-bottom: 2rem;
      }

      h4 {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }

  .portfolio-container {
    grid-gap: 1rem;
    max-height: 65vh;
    overflow-y: scroll;

    .hover-item {
      ul {
        font-size: 1rem;
      }
    }
  }

  .skill-summary-container {
    max-height: 70vh;
    overflow-y: auto;
  }

  .portfolio-detail {
    top: 5vh;
    width: 100%;
  }

  .bg-text {
    display: none;
  }
}

@media screen and (max-width: 1360px) {
  .home-container {
    padding: 1rem;
    line-height: .8rem;

    height: 70vh;
  }

  .portfolio-container {
    height: 70vh;

    .portfolio-item {
      h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .portfolio-container,
  .other-info-container,
  .skill-summary-container {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1320px) {
  .home-container {
    padding: .8rem;
    line-height: .7rem;
    height: 65vh;
  }

  .portfolio-container,
  .skill-summary-container {
    grid-template-columns: repeat(2, 1fr);
    height: 67vh;
  }

  .other-info-container,
  .skill-summary-container,
  .contact-container {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {

  .home-overlay {
    h4 {
      display: none;
    }
  }

  .home-container,
  .portfolio-container,
  .skill-summary-container,
  .other-info-container,
  .contact-container {
    margin-top: 3rem;
  }

  .portfolio-container {
    height: 40vh;
  }

  .skill-summary-container {
    height: 44vh;
  }

  .skill-summary-container {
    padding-right: 15px;
  }

  .controls {
    top: auto;
    bottom: 5rem;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    .control {
      margin: .6rem 1rem !important;
    }
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 860px) {

  .portfolio-container,
  .skill-summary-container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .other-info-container,
  .contact-container {
    margin-top: 0.5rem;
  }

  .theme-btn {
    right: 1%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    margin-top: 1rem;
    padding: 0px 0px;
    width: 35rem;
  }

  .section {
    margin-top: 5rem;
    padding: 0px;
    width: 35rem;
  }

  .other-info-container {
    overflow-y: scroll;
    height: 40vh;
  }

  .section {
    margin-top: 5rem;
    padding: 0px;
    width: 35rem;
  }

  .other-info-container {
    overflow-y: scroll;
    height: 40vh;
  }

  .section {
    margin-top: 5rem;
    padding: 0px;
    width: 35rem;
  }

  .other-info-container {
    overflow-y: scroll;
    height: 40vh;
  }

  .section {
    margin-top: 5rem;
    padding: 0px;
    width: 35rem;
  }

  .other-info-container {
    overflow-y: scroll;
    height: 40vh;
  }

  .other-info-container,
  .skill-summary-container {
    grid-template-columns: 1fr;
  }

  .theme-btn {
    width: 35px;
    height: 35px;
    right: 1%;
  }
}

@media screen and (max-width: 420px) {
  .section {
    margin-top: 5rem;
    padding: 0px 0px;
    width: 25rem;
  }

  .home-container {
    display: block;
    height: 30vh;
    margin: 150px auto;
    background-image: none;

    .home-overlay {
      padding: 0;
      line-height: .5rem;
      width: 100%;
      height: 100%;

      h1 {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 1rem;
      }

      h2 {
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      h4 {
        display: none;
      }
    }
  }

  .main-title h2 {
    font-size: 2rem;
  }

  .other-info-text {
    display: none;
  }
}

.contact-container {
  padding-top: 0;
}

.port-text,
.other-info-text,
.contact-text {
  display: none;
}