.section {
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(100px);
  display: none;
}

.section-active {
  opacity: 1;
  transform: translateY(0);
  display: block;
  animation: fadeIn 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}