// reset, root, light mode and scrollbar styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Firefox-specific scrollbar styling
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) var(--color-primary);
}

// Default / dark mode
:root {
  // slate blue
  --color-primary: rgb(45, 55, 72);
  --color-secondary: rgb(129, 230, 217);
  --color-white: rgb(245, 245, 245);
  --color-tertiary-0: rgb(240, 240, 245);
  --color-tertiary-1: rgb(220, 225, 235);
  --color-tertiary-2: rgb(190, 200, 215);
  --color-tertiary-3: rgb(130, 140, 155);
  --color-tertiary-4: rgb(90, 100, 115);
  --color-tertiary-5: rgb(65, 75, 90);
  --color-tertiary-6: rgb(40, 50, 65);

  --borderRadiusLo: 3px;
  --borderRadiusMed: 10px;
  --borderRadiusHi: 15px;

  --innerBorder: var(--borderRadiusLo) double silver;
  --outerBorder: 1px solid var(--color-secondary);

  --radius-circle: 50%;
  --padding-section: 80px 60px 20px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  --box-shadow-card-hover: 0 8px 16px rgba(0, 0, 0, 0.1);
  --transition-default: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform-default: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform-shadow: transform 0.3s ease, box-shadow 0.3s ease;
  --button-scale-default: .9;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.light-mode {
  --color-primary: rgb(240, 239, 239);
  --color-secondary: rgb(39, 147, 255);
  --color-white: #454e56;
  --color-tertiary-0: #f8f8f8;
  --color-tertiary-1: rgb(18, 24, 27);
  --color-tertiary-2: rgb(42, 46, 53);
  --color-tertiary-3: rgb(108, 121, 131);
  --color-tertiary-4: rgb(178, 190, 205);
  --color-tertiary-5: rgb(219, 225, 232);
  --color-tertiary-6: rgb(248, 248, 248);

  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}