.skill-summary-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 8rem;

  .skill-summary-item {
    position: relative;
    padding: 2rem 0;
    border-left: 1px solid var(--color-tertiary-5);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--borderRadiusLo);

    background-color: var(--color-tertiary-5);

    .skill-summary-title {
      padding: .2rem .6rem;
      color: var(--color-tertiary-2);
      background-color: var(--color-tertiary-4);
      border-radius: var(--borderRadiusHi);
      display: inline-block;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    .skill-summary-list {
      display: flex;
      align-items: center;
      justify-content: space-around;

      ul {
        text-align: left;
        line-height: 2rem;
        padding: 1rem;
        color: var(--color-tertiary-1);
      }
    }

    p {
      color: var(--color-tertiary-2);
    }
  }
}

.skill-summary-text {
  padding: 2rem 0;
  text-align: center;
}